/* line 5, ../sass/master.scss */
.btn1 {
  font-size: 16px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0B99C2', endColorstr='#FF064D61');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0b99c2), color-stop(100%, #087392));
  background: -webkit-linear-gradient(#0b99c2, #087392);
  background: -moz-linear-gradient(#0b99c2, #087392);
  background: -o-linear-gradient(#0b99c2, #087392);
  background: linear-gradient(#0b99c2, #087392);
  -webkit-box-shadow: #27c5f3 0 1px 0 inset;
  -moz-box-shadow: #27c5f3 0 1px 0 inset;
  box-shadow: #27c5f3 0 1px 0 inset;
  border: 1px solid #07607a;
  color: white;
  text-shadow: #043645 0 -1px 0;
}
/* line 15, ../../../../../../../usr/lib64/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn1:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../../usr/lib64/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn1:hover {
  background-color: #07607a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a86aa), color-stop(100%, #07607a));
  background: -webkit-linear-gradient(#0a86aa, #07607a);
  background: -moz-linear-gradient(#0a86aa, #07607a);
  background: -o-linear-gradient(#0a86aa, #07607a);
  background: linear-gradient(#0a86aa, #07607a);
}
/* line 39, ../../../../../../../usr/lib64/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn1:active {
  -webkit-box-shadow: #06546b 0 1px 2px inset;
  -moz-box-shadow: #06546b 0 1px 2px inset;
  box-shadow: #06546b 0 1px 2px inset;
}
/* line 6, ../../../../../../../usr/lib64/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn1.disabled, .btn1[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #087392;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../usr/lib64/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.btn1::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 9, ../sass/master.scss */
.btn2 {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF8CBE5F', endColorstr='#FF598235');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #a1ca7c), color-stop(51%, #8cbe5f));
  background: -webkit-linear-gradient(#a1ca7c 50%, #8cbe5f 51%);
  background: -moz-linear-gradient(#a1ca7c 50%, #8cbe5f 51%);
  background: -o-linear-gradient(#a1ca7c 50%, #8cbe5f 51%);
  background: linear-gradient(#a1ca7c 50%, #8cbe5f 51%);
  -webkit-box-shadow: #c8e0b2 0 1px 0 inset;
  -moz-box-shadow: #c8e0b2 0 1px 0 inset;
  box-shadow: #c8e0b2 0 1px 0 inset;
  border: 1px solid #7fb74d;
  color: white;
  text-shadow: #5f8a38 0 -1px 0;
}
/* line 15, ../../../../../../../usr/lib64/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn2:hover {
  text-decoration: none;
}
/* line 30, ../../../../../../../usr/lib64/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn2:hover {
  background-color: #7ab148;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #8fbf63), color-stop(51%, #7ab148));
  background: -webkit-linear-gradient(#8fbf63 50%, #7ab148 51%);
  background: -moz-linear-gradient(#8fbf63 50%, #7ab148 51%);
  background: -o-linear-gradient(#8fbf63 50%, #7ab148 51%);
  background: linear-gradient(#8fbf63 50%, #7ab148 51%);
}
/* line 33, ../../../../../../../usr/lib64/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn2:active {
  -webkit-box-shadow: #77ae47 0 1px 2px inset;
  -moz-box-shadow: #77ae47 0 1px 2px inset;
  box-shadow: #77ae47 0 1px 2px inset;
}
/* line 6, ../../../../../../../usr/lib64/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn2.disabled, .btn2[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #8cbe5f;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 13, ../sass/master.scss */
.btn3 {
  font-size: 26px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFD71A', endColorstr='#FFB39400');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffed9a), color-stop(50%, #ffd71a), color-stop(100%, #ffaa1a));
  background: -webkit-linear-gradient(#ffed9a, #ffd71a 50%, #ffaa1a);
  background: -moz-linear-gradient(#ffed9a, #ffd71a 50%, #ffaa1a);
  background: -o-linear-gradient(#ffed9a, #ffd71a 50%, #ffaa1a);
  background: linear-gradient(#ffed9a, #ffd71a 50%, #ffaa1a);
  -webkit-box-shadow: #fffbe6 0 1px 0 inset;
  -moz-box-shadow: #fffbe6 0 1px 0 inset;
  box-shadow: #fffbe6 0 1px 0 inset;
  border: 1px solid #ffa100;
  color: white;
  text-shadow: #f3c800 0 -1px 0;
}
/* line 15, ../../../../../../../usr/lib64/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn3:hover {
  text-decoration: none;
}
/* line 24, ../../../../../../../usr/lib64/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn3:hover {
  background-color: #ffaa1a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffeb8f), color-stop(50%, #ffaa1a), color-stop(100%, #f09700));
  background: -webkit-linear-gradient(#ffeb8f, #ffaa1a 50%, #f09700);
  background: -moz-linear-gradient(#ffeb8f, #ffaa1a 50%, #f09700);
  background: -o-linear-gradient(#ffeb8f, #ffaa1a 50%, #f09700);
  background: linear-gradient(#ffeb8f, #ffaa1a 50%, #f09700);
}
/* line 27, ../../../../../../../usr/lib64/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn3:active {
  -webkit-box-shadow: #f09700 0 1px 2px inset;
  -moz-box-shadow: #f09700 0 1px 2px inset;
  box-shadow: #f09700 0 1px 2px inset;
}
/* line 6, ../../../../../../../usr/lib64/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.btn3.disabled, .btn3[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #ffaa1a;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../usr/lib64/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.btn3::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
