/* line 66, social/*.png */
.social-sprite, .social-facebook, .social-twitter {
  background: url('../img/social-sc843a1e468.png') no-repeat;
}

/* line 5, ../sass/master.scss */
.sprite {
  width: 64px;
  height: 64px;
}

/* line 10, ../sass/master.scss */
.social-facebook {
  background-position: 0 0;
}

/* line 14, ../sass/master.scss */
.social-twitter {
  background-position: 0 -128px;
}
