/* line 5, ../sass/omgtext.scss */
#omg-flat-sample-1 {
  font-size: 320px;
  color: #ffbeed;
  text-shadow: 0px 0px 0 #db2cac, -0.64279px 0.76604px 0 #db2cac, -1.28558px 1.53209px 0 #db2cac, -1.92836px 2.29813px 0 #db2cac, -2.57115px 3.06418px 0 #db2cac, -3.21394px 3.83022px 0 #db2cac, -3.85673px 4.59627px 0 #db2cac, -4.49951px 5.36231px 0 #db2cac, -5.1423px 6.12836px 0 #db2bac, -5.78509px 6.8944px 0 #db2bac, -6.42788px 7.66044px 0 #db2bac, -7.07066px 8.42649px 0 #db2bac, -7.71345px 9.19253px 0 #db2bac, -8.35624px 9.95858px 0 #db2bab, -8.99903px 10.72462px 0 #db2aab, -9.64181px 11.49067px 0 #db2aab, -10.2846px 12.25671px 0 #db2aab, -10.92739px 13.02276px 0 #db2aab, -11.57018px 13.7888px 0 #db29ab, -12.21296px 14.55484px 0 #db29ab, -12.85575px 15.32089px 0 #da29ab, -13.49854px 16.08693px 0 #da28ab, -14.14133px 16.85298px 0 #da28aa, -14.78412px 17.61902px 0 #da28aa, -15.4269px 18.38507px 0 #da27aa, -16.06969px 19.15111px 0 #da27aa, -16.71248px 19.91716px 0 #da27aa, -17.35527px 20.6832px 0 #da26aa, -17.99805px 21.44924px 0 #da26aa, -18.64084px 22.21529px 0 #da25a9, -19.28363px 22.98133px 0 #da25a9, -19.92642px 23.74738px 0 #d925a9, -20.5692px 24.51342px 0 #d925a8, -21.21199px 25.27947px 0 #d825a8, -21.85478px 26.04551px 0 #d825a8, -22.49757px 26.81156px 0 #d725a7, -23.14035px 27.5776px 0 #d725a7, -23.78314px 28.34364px 0 #d625a6, -24.42593px 29.10969px 0 #d524a6, -25.06872px 29.87573px 0 #d524a5, -25.7115px 30.64178px 0 #d424a5, -26.35429px 31.40782px 0 #d424a4, -26.99708px 32.17387px 0 #d324a4, -27.63987px 32.93991px 0 #d224a3, -28.28265px 33.70596px 0 #d224a3, -28.92544px 34.472px 0 #d124a2;
}

/* line 11, ../sass/omgtext.scss */
#omg-flat-sample-2 {
  font-size: 320px;
  color: #e8d850;
  text-shadow: 0px 0px 0 #ef8e3f, 1px 0.0px 0 #ef8e3f, 2px 0.0px 0 #ef8e3f, 3px 0.0px 0 #ef8e3f, 4px 0.0px 0 #ef8e3f, 5px 0.0px 0 #ef8e3f, 6px 0.0px 0 #ef8e3f, 7px 0.0px 0 #ef8e3f, 8px 0.0px 0 #ef8e3f, 9px 0.0px 0 #ef8e3f, 10px 0.0px 0 #ef8e3f, 11px 0.0px 0 #ef8e3f, 12px 0.0px 0 #ef8e3f, 13px 0.0px 0 #ef8e3f, 14px 0.0px 0 #ef8e3f, 15px 0.0px 0 #ef8e3f, 16px 0.0px 0 #ef8e3f, 17px 0.0px 0 #ef8e3f, 18px 0.0px 0 #ef8e3f, 19px 0.0px 0 #ef8e3f, 20px 0.0px 0 #ef8e3f, 21px 0.0px 0 #ef8e3f, 22px 0.0px 0 #ef8e3f;
}

/* line 17, ../sass/omgtext.scss */
#omg-shaded-sample-1 {
  font-size: 320px;
  color: #82cffb;
  text-shadow: 0px 0px 0 #5193b9, 1px 0.0px 0 #5193b9, 2px 0.0px 0 #5093b9, 3px 0.0px 0 #5092b9, 4px 0.0px 0 #4f92b8, 5px 0.0px 0 #4e91b8, 6px 0.0px 0 #4d91b7, 7px 0.0px 0 #4c90b7, 8px 0.0px 0 #4a8fb6, 9px 0.0px 0 #498eb6, 10px 0.0px 0 #488cb4, 11px 0.0px 0 #478bb2, 12px 0.0px 0 #4789b0, 13px 0.0px 0 #4687ad, 14px 0.0px 0 #4585ab, 15px 0.0px 0 #4483a8, 16px 0.0px 0 #4281a5, 17px 0.0px 0 #417fa2, 18px 0.0px 0 #407c9f, 19px 0.0px 0 #3e799b, 20px 0.0px 0 #3d7698, 21px 0.0px 0 #3b7394, 22px 0.0px 0 #3a7090, 23px 0.0px 0 #386d8b, 24px 0.0px 0 #366a87, 25px 0.0px 0 #356683, 26px 0.0px 0 #33627e, 27px 0.0px 0 #315f79, 28px 0.0px 0 #2f5b74, 29px 0.0px 0 #2c566f, 30px 0.0px 0 #2a5269, 31px 0.0px 0 #284e63, 32px 0.0px 0 #26495e, 33px 0.0px 0 #234558, 34px 0.0px 0 #214051, 35px 0.0px 0 #1e3b4b;
}

/* line 23, ../sass/omgtext.scss */
#omg-shaded-sample-2 {
  font-size: 320px;
  color: #8ccf3c;
  text-shadow: 0px 0px 0 #b8e880, -0.70711px -0.70711px 0 #b8e880, -1.41421px -1.41421px 0 #b8e880, -2.12132px -2.12132px 0 #b8e87f, -2.82843px -2.82843px 0 #b7e87f, -3.53553px -3.53553px 0 #b7e87e, -4.24264px -4.24264px 0 #b6e87d, -4.94975px -4.94975px 0 #b6e77c, -5.65685px -5.65685px 0 #b5e77b, -6.36396px -6.36396px 0 #b5e77a, -7.07107px -7.07107px 0 #b4e779, -7.77817px -7.77817px 0 #b3e677, -8.48528px -8.48528px 0 #b2e676, -9.19239px -9.19239px 0 #b1e674, -9.89949px -9.89949px 0 #b0e672, -10.6066px -10.6066px 0 #afe570, -11.31371px -11.31371px 0 #aee56e, -12.02082px -12.02082px 0 #ade46c, -12.72792px -12.72792px 0 #ace46a, -13.43503px -13.43503px 0 #aae467, -14.14214px -14.14214px 0 #a9e365, -14.84924px -14.84924px 0 #a7e362, -15.55635px -15.55635px 0 #a6e25f, -16.26346px -16.26346px 0 #a4e25c, -16.97056px -16.97056px 0 #a2e159, -17.67767px -17.67767px 0 #a0e056, -18.38478px -18.38478px 0 #9fe053, -19.09188px -19.09188px 0 #9ddf4f, -19.79899px -19.79899px 0 #9bde4b, -20.5061px -20.5061px 0 #98de48, -21.2132px -21.2132px 0 #96dd44, -21.92031px -21.92031px 0 #94dc40, -22.62742px -22.62742px 0 #92dc3c, -23.33452px -23.33452px 0 #8fdb37, -24.04163px -24.04163px 0 #8dda33, -24.74874px -24.74874px 0 #8ad92e;
}

/* line 29, ../sass/omgtext.scss */
#omg-offset-sample-1 {
  font-size: 320px;
  color: #222222;
  text-shadow: 4.59627px 3.85673px 0 white, 9.19253px 7.71345px 0 #cccccc;
}

/* line 35, ../sass/omgtext.scss */
#omg-offset-sample-2 {
  font-size: 320px;
  color: #e75032;
  text-shadow: -4.24264px 4.24264px 0 white, -7.07107px 7.07107px 0 #e75032;
}

/* line 5, ../sass/main.scss */
.page {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 7, ../sass/main.scss */
button {
  font-size: 26px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFD71A', endColorstr='#FFB39400');
  background: -webkit-linear-gradient(#ffd71a, #ffaa1a 70%);
  background: -moz-linear-gradient(#ffd71a, #ffaa1a 70%);
  background: -o-linear-gradient(#ffd71a, #ffaa1a 70%);
  background: linear-gradient(#ffd71a, #ffaa1a 70%);
  -webkit-box-shadow: #ffe466 0 1px 0 inset;
  -moz-box-shadow: #ffe466 0 1px 0 inset;
  box-shadow: #ffe466 0 1px 0 inset;
  border: 1px solid #ffa100;
  color: white;
  text-shadow: #9a7f00 0 -1px 0;
}
/* line 15, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:hover {
  text-decoration: none;
}
/* line 18, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:hover {
  background-color: #ffa100;
  background: -webkit-linear-gradient(#ffd300 3%, #ffa100 75%);
  background: -moz-linear-gradient(#ffd300 3%, #ffa100 75%);
  background: -o-linear-gradient(#ffd300 3%, #ffa100 75%);
  background: linear-gradient(#ffd300 3%, #ffa100 75%);
}
/* line 21, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button:active {
  -webkit-box-shadow: #f09700 0 1px 2px inset;
  -moz-box-shadow: #f09700 0 1px 2px inset;
  box-shadow: #f09700 0 1px 2px inset;
}
/* line 6, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
button.disabled, button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #ffaa1a;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
